<% include ../partials/header %>
  <header class="jumbotron">
    <div class="container">
      <h1>Membership</h1>
      <p>Becomming an OregonInTents member is easy, and will grant you access to our Secret Campgrounds! Once you have reached the required number of points, your account will automatically be upgraded!</p>
      
      
      <h2>Becoming A Member</h2>
      <p>To become a member you must earn 1 secret point, or 5 public points.</p>
      <ul>
        <li>Add a new Public Campground that is not on our list: 1 Public Point(PP)</li>
        <li>Add a new Secret Campground that is not on our list: 1 Secret Point(SP)</li>
      </ul>
     
  </header>

  </div>

<% include ../partials/footer %>