<% include partials/header %>
  <header class="jumbotron">
    <div class="container">
      <h1>Become A Member <span class="psuedo-badge" id="PP-badge"><i class = "fa fa-tree fa-5x"></i></span></h1>
      <h3>Becomming an OregonInTents member is easy, and will grant you access to our Secret Campgrounds! Once you have reached the required number of points, your account will automatically be upgraded!</h3>
  </header>  
      
      <h2>To become a member you must earn 10 Forest Power (<span class="psuedo-badge" id="PP-badge"><i class = "fa fa-tree"></i></span>)</h2>
      <ul>
        <li>Add a new Public Campground that is not on our list: <span class="psuedo-badge" id="PP-badge"><i class = "fa fa-tree"></i></span> 2 Forest Power</li>
        <li>Add a new Secret Campground that is not on our list: <span class="psuedo-badge" id="PP-badge"><i class = "fa fa-tree"></i></span> 10 Forest Power</li>
        <li>Once you are a member you can earn even more Forest Power by reviewing new submissions: <span class="psuedo-badge" id="PP-badge"><i class = "fa fa-tree"></i></span> 1 Forest Power</li>
      </ul>
     
  

  </div>

<% include partials/footer %>