<% ../include partials/header %>


<div class="container text-center">
  <header class="jumbotron">
    <h1 style="text-align: center">Error</h1>
    <h3>I'm sorry we cannot find that campground</h3>
  </header>
  
  <h2><a href="/campgrounds">Back to campgrounds</a></h2>
  
</div>




<% ../include partials/footer %>