.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 8px;
}

footer {
  margin-top: 6em;
  background-color: black;
  color: white;
  text-align: center;
}

.delete-form {
  display: inline;
}