.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 8px;
}

footer {
  margin-top: 6em;
  background-color: black;
  color: white;
  text-align: center;
}

.delete-form {
  display: inline;
}



h2 {
  width: 100%;
  text-align: center;
}

.formpage {
  width: 80%;
  margin: 30px auto;
}
/* style all input elements with a required attribute */
.formpage input:required {
  box-shadow: 1px 1px 6px rgba(200, 0, 0, 0.85);
}
/**
 * style input elements that have a required
 * attribute and a focus state
 */
.formpage input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
.formpage input:required:hover {
  opacity: 1;
}


/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}
/* Google Maps */
.aw-current-weather-info {
  height: 400px;
  width: 100%;
}


.list-group-item {
  cursor: pointer; cursor: hand; 
  text-align: center;
  font-size: 150%;
  opacity: 0.8;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.3em;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

.list-group-item:hover {
  background-color: #417cb8;

}
.list-group-item:active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}

.list-group-item + div {
}