.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 100;
}
#flashMessageContainer {
  margin-top: 60px;
  
}

#userHeaderDisplay {
  font-size: 120%;
}
.jumbotron {
  margin-top: 2em;
}


.unreviewed {
  background-color: yellow;
  border-radius: 5px;
  margin: 10px auto;
}
.review-button {
  font-size: 100%;
  margin: 10px auto;
  display: inline;
}

.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
  max-height: 66.67vw;
  display: block;
}

.thumbnail .caption-full {
  padding: 8px;
}

footer {
  margin-top: 6em;
  background-color: black;
  color: white;
  text-align: center;
}

.delete-form {
  display: inline;
}



h2 {
  width: 100%;
  text-align: center;
}

.formpage {
  width: 80%;
  margin: 30px auto;
}
/* style all input elements with a required attribute */
.formpage input:required {
  box-shadow: 1px 1px 6px rgba(200, 0, 0, 0.85);
}
/**
 * style input elements that have a required
 * attribute and a focus state
 */
.formpage input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
.formpage input:required:hover {
  opacity: 1;
}


/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}
/* Google Maps */
.aw-current-weather-info {
  height: 400px;
  width: 100%;
}


.list-group-item {
  cursor: pointer; cursor: hand;
  text-align: center;
  font-size: 150%;
  opacity: 0.8;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.3em;
  box-shadow: 0 5px #222;
}

.list-group-item:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-group-item:hover {
  background-color: #91acd8;
  box-shadow: 0 5px #27496d;

}
.list-group-item:active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}

.list-group-item + div {
}
i {   
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge:after{
    content:attr(data-count);
    position: absolute;
    background: rgba(204, 51, 0, 0.6);
    height:1.5rem;
    top:0.4rem;
    right:1.9rem;
    width:1.5rem;
    text-align: center;
    line-height: 1.55rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
}
#PP-badge {
  background-color: green;
}

.psuedo-badge {
  background-color: green;
  color: white;
  padding: 3px 7px;
  border-radius: 10px;
  line-height: 1;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

/** Filter Search **/

#searchFilter {
  border: 2px solid purple;
}
#searchFilter input {
}
#searchFilter input[type="button"] {
  display: inline;
}

/** /Campgrounds **/
.public-cg {
  background-color: #888;
  
}
.secret-cg {
  background-color: #333;
}
.secret-cg h2 {
  color: #eee;
}